<header id="header">
    <div class="logo"><a href="/">{{nombre}}<span> {{titulo}}</span></a></div> <!--utilizamos doble llave para recibir argumentos desde el controlador (index.js)-->
    <a href="#menu"><span>Menu</span></a>
</header>
