    <header class="header">
        <a href="/">
            <img class="header__logo" src="assets/img/logo_1.png" alt="Logotipo">
        </a>
            <h1 class="titulo">Buena Aventura</h1>
            <p class="titulo__subtitulo">STORE</p>
            <img class="titulo__downline" src="assets/img/down_line.png" alt="down_line">
    </header>

