<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <!--Utilizaremos preload como 'buena practica', espero su feedback sobre este punto-->
    <link rel="preload"  href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="preload" href="assets/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>BuenaAventura Store</title>
</head>
<body>
    <!-- header -->
    {{> header }}
    <!-- navbar -->
    {{> navbar }}

    <main class="contenedor">
        <h1 class="encabezado">nuestros productos</h1>
        <div class="grid">
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/1.jpg" alt="img_1">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar Arbol</p>
                    </div>
                    <p class="producto__precio">$120.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/2.jpg" alt="img_2">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Triptico de Arboles</p>
                    </div>
                    <p class="producto__precio">$145.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/3.jpg" alt="img_3">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/4.jpg" alt="img_4">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>
                    <p class="producto__precio">$120.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/5.jpg" alt="img_5">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/6.jpg" alt="img_6">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/7.jpg" alt="img_7">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                   
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/8.jpg" alt="img_8">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                   
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/9.jpg" alt="img_9">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                  
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/10.jpg" alt="img_10">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                  
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/11.jpg" alt="img_11">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/12.jpg" alt="img_12">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                   
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/13.jpg" alt="img_13">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                   
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->
            <div class="producto">
                <a href="/producto">
                    <img class="producto__imagen" src="assets/img/14.jpg" alt="img_14">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Telar de Autor</p>
                    </div>                   
                    <p class="producto__precio">$95.000</p>
                </a>
            </div> <!--Fin de producto-->           
            <div class="grafico grafico--pieza"></div>
            <div class="grafico grafico--pieza2"></div>
        </div>       
    </main>
    <!-- footer -->
    {{> footer }}
</body>
</html>