<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preload"  href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="preload" href="assets/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>BuenaAventura Store</title>
</head>
<body>
    <header class="header">
        <a href="/index">
            <img class="header__logo" src="assets/img/logo_1.png" alt="Logotipo">
        </a>
            <h1 class="titulo">Buena Aventura</h1>
            <p class="titulo__subtitulo">STORE</p>
            <img class="titulo__downline" src="assets/img/down_line.png" alt="down_line">
    </header>
    <nav class="navegacion">
        <a class="navegacion__enlace" href="/"> Tienda</a>
        <a class="navegacion__enlace navegacion__enlace--activo" href="/nosotros"> Nosotros</a>
    </nav>
    <main class="contenedor">
        <h1 class="encabezado">Sobre Nosotros</h1>       
        <div class="nosotros">
            <div class="nosotros__contenido">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam veniam harum eaque ducimus saepe alias repellendus! Unde ipsa recusandae, minus sunt, ea modi consectetur odio accusamus aperiam, maiores inventore cum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, maiores ea repellendus sequi delectus iste corporis eum alias culpa tenetur quasi odio consequuntur vero porro libero! Earum voluptatum doloribus amet.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis consequuntur vel ipsum rerum quia et maxime sequi. Earum, optio nesciunt accusamus sunt beatae perferendis, ducimus, velit voluptate exercitationem perspiciatis ad.
                </p>
            </div>
            <img class="nosotros__imagen" src="assets/img/sala.jpg" alt="">
        </div>       
    </main>
    <section class="bloques__padre contenedor">
        <h2>Por que comprar con nosotros</h2>
        <div class="bloques">
            <div class="bloque">
                <img class="icono" src="assets/img/icono-1.png" alt="icono_1">
                <h3 class="icono__titulo">Diseño</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>    
            </div><!--bloque-->
            <div class="bloque icono__margintop">
                <img class="icono" src="assets/img/icono-2.png" alt="icono_2">
                <h3 class="icono__titulo">Pagos</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>    
            </div><!--bloque-->
            <div class="bloque icono__margintop">
                <img class="icono" src="assets/img/icono-3.png" alt="icono_3">
                <h3 class="icono__titulo">Pedidos</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>    
            </div><!--bloque-->
            <div class="bloque">
                <img class="icono" src="assets/img/icono-4.png" alt="icono_4">
                <h3 class="icono__titulo">Calidad</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>    
            </div><!--bloque-->
        </div>
    </section>
    <footer class="footer">
        <p class="footer__texto">BuenaAventura Store - Todos los derechos Reservados 2022.</p>
    </footer>
</body>
</html>