<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preload"  href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="preload" href="assets/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>BuenaAventura Store</title>
</head>
<body>
    <!-- header -->
    {{> header }}
    <!-- navbar -->
    {{> navbar }}  

    <main class="contenedor">
        <h1 class="encabezado">Telar</h1>
        <div class="telar producto contenedor">
            <img class="telar__imagen" src="assets/img/1.jpg" alt="telar">
            <div>
                <p class="telar__informacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequatur assumenda reiciendis, molestias consequuntur accusantium.</p>
                <form class="formulario" action="">
                    <select class="formulario__campo" name="" id="">
                        <option  selected disabled>-- Elegir tamaño --</option> 
                        <option value="">Pequeño</option>
                        <option value="">Mediano</option>
                        <option value="">Grande</option>
                    </select>
                    <input class="formulario__campo" type="number" placeholder="Cantidad" min="1">
                    <input class="formulario__submit" type="submit" value="Agregar al carrito">
                </form>
            </div>
        </div>    
    </main>
    <!-- footer -->
    {{> footer }}
</body>
</html>